@page "/admin"

<PageTitle>Admin-panelen</PageTitle>

<div class="col-sm-4 p-3 rounded">
    <div class="btn-group-vertical w-100" style="padding-right: 5px;">
        <a class="btn btn-primary text-white mb-2 w-100" href="/adminvehicle">
            <span  aria-hidden="true"></span> Fordon
        </a>
        <a class="btn btn-primary text-white mb-2 w-100" href="/adminusers">
            <span  aria-hidden="true"></span> Användare
        </a>
        <a class="btn btn-primary text-white mb-2 w-100" href="/adminbookinglist">
            <span  aria-hidden="true"></span> Bokningar
        </a>
    </div>
</div>

@code {

}
