@page "/"

<PageTitle>Ride-Right Rentals AB</PageTitle>
<div class="col-sm-5 p-5 text-black form-control-light">
     
    <h3>VÄLKOMNA TILL RIDE-RIGHT RENTALS!</h3>

    <br />
    <p>Välkommen till Ride-Right Rentals, din partner för biluthyrning. Vi är glada över att ha dig som kund och vi lovar att göra allt för att du ska ha den bästa möjliga upplevelsen när du hyr en bil av oss.
        <br /><br />
    Vi är stolta över vår flotta av högkvalitativa och pålitliga bilar som vi regelbundet underhåller för att säkerställa att de alltid är i toppskick. Oavsett om du behöver en liten bil för att ta dig runt i staden eller en större bil för en längre resa, så har vi den perfekta bilen för dig.
        <br /><br />
In och boka din drömbil nu direkt! 
    </p>
    <br /><br />
    <br />
    Team Ride-Right
</div>


